/* MObile */

@media (max-width: 425px) {
    header {
      flex-direction: column;
      gap: 20px;
    }
  
    nav {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .header-cta-btn {
      width: 300px;
      margin: 0 auto 20px;
      display: block;
    }
  
    .section-wrap {
      overflow: hidden;
      height: auto;
      width: 90%;
      padding: 20px;
      margin: 50px 15px;
    }
  
    section {
      height: auto;
    }
  
    .hero-content {
      grid-template-columns: 1fr;
    }
  
    .main-text {
      font-size: 4rem;
      margin-top: 60px;
    }
  
    .sub-text {
      font-size: 1rem;
    }
  
    .hero-cta-btn {
      margin-bottom: 25px;
    }
  
    .right img {
      margin-top: 50px;
    }
  /* about */
  .section-btn {
    margin-bottom: 100px;
  }
  
  /* project */
  .project-grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  
  .card {
    margin: 10px 0;
  }
  
  .section-title {
    margin-top: 50px;
  }
  
  /* COntact */
  .contact-grid {
    grid-template-columns: 1fr;
  }
  
  #contact .right img {
    width: 100%;
    margin: 100px 10px 50px;
  }
  
  form button {
    margin-bottom: 50px;
  }
  
  
  }
  
  /* Tab*/
  
  @media (min-width: 426px) and (max-width: 768px) {
    header {
      flex-direction: column;
      gap: 20px;
    }
  
    nav {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .header-cta-btn {
      width: 600px;
      height: 60px;
      border-radius: 35px;
      margin: 0 auto 20px;
      display: block;
    }
  
    .section-wrap {
      overflow: visible;
      margin: 50px auto;
      height: auto;
      width: 80%;
      padding: 50px;
    }
  
    section {
      height: auto;
    }
  
    .hero-content {
      grid-template-columns: 1fr;
    }
  
    .main-text {
      font-size: 5rem;
      margin-top: 60px;
    }
  
    .sub-text {
      font-size: 1.1rem;
    }
  
    .hero-cta-btn {
      margin-bottom: 25px;
    }
  
    .right img {
      margin-top: 50px;
    }
  
    /* about */
  .section-btn {
    margin-bottom: 100px;
  }
  
  /* project */
  .project-grid {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  
  .card {
    margin: 0;
  }
  
  /* COntact */
  .contact-grid {
    grid-template-columns: 1fr;
  }
  
  #contact .right img {
    width: 90%;
    margin: 100px 10px 80px;
  }
  
  form button {
    margin-bottom: 50px;
  }
  
  }